.titulo {
    width: 100%;
    padding-top: 20px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    overflow-y: auto;
    padding: 0 50px;
}

.acciones {
    margin: 25px auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.acciones button {
    padding: 15px 20px 15px 20px;
    background: rgb(253, 29, 29);
    background: linear-gradient(55deg, #004d00, #228b22, #90ee90);
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s all;
}

.acciones button:hover {
    transform: scale(101%);
}

.checkboxLey {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    border-radius: 6px;
    max-width: 500px;
    margin-top: 15px;
    align-items: center;
}

.checkboxLey input[type="checkbox"] {
    margin-top: 5px;
    width: 18px;
    height: 18px;
    accent-color: #4e8950;
    cursor: pointer;
}

.labelLey {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    color: #333;
}

.linkLey {
    color: #333;
    text-decoration: none;
    font-weight: 800;
}

.linkLey:hover {
    text-decoration: underline;
}

.descripcionLey {
    font-size: 0.8rem;
    color: #666;
    font-style: italic;
    margin-top: 3px;
    line-height: 1.3;
}

.opt {
    display: flex;
    gap: 10px;
}

.checkboxColor {
    accent-color: #4e8950;
    width: 14px;
    height: 18px;
    cursor: pointer;
}

form p {
    margin-top: 15px;
    font-weight: 500;
}

.inputText {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(165, 165, 165);
    margin-bottom: 10px;
    padding: 0 10px;
}

form .labelSeccion {
    font-weight: 500;
    margin-bottom: 5px;
}

.welcomeMessage {
    margin-top: 10px;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.subText {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    margin-top: 0;
    opacity: 0.85;
    margin-left: 20px;
    margin-bottom: 20px;
}

.boton_subir {
    background: linear-gradient(55deg, #3b7a3b, #5fa75f, #a0cfa0);
}

.filtroCard {
    border: 1px solid gray;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s all;
    margin-bottom: 15px;
    background-color: transparent;
}

.filtroCard select {
    border: none;
    background-color: transparent;
}