.containerUser {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;

    z-index: 5;
    box-shadow: 1px 1px 2px black;
    pointer-events: auto;
    border-radius: 50%;
    background: #ff0000;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(253, 175, 29, 1) 70%, rgba(249, 252, 69, 1) 100%);
    cursor: pointer;

}

.btnNavegacion {
    border: none;
    background-color: transparent;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.btnCerrarSesion {
    border: 1px solid red;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    color: red;
    padding: 5px;
}

.opt {
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}