.container {
    width: 100%;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.068);
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 15px;
}

.boxIcon {
    position: relative;
    background: #ff0000;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(253, 175, 29, 1) 70%, rgba(249, 252, 69, 1) 100%);
    padding: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoUser {
    width: 150px;
}

.boxIcon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.boxIcon .icon {
    position: absolute;
    bottom: 0px;
    right: -12px;
    color: rgb(0, 0, 0);
}

.ButtonCruds {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
}

.ButtonCruds button {
    font-size: 18px;
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 5px;
    transition: 0.3s;
    font-size: 1rem;

}

.ButtonCruds button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-1px);
}

.navMenuContainer {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
}

.ButtonBars {
    display: none;
    background: transparent;
    border: none;
    padding: 25px;
    cursor: pointer;
    margin-left: auto;
}

@media screen and (max-width:1084px) {
    .container {
        flex-wrap: wrap;
        position: relative;
    }

    .ButtonBars {
        display: block;
    }

    .navMenuContainer {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(121, 120, 120, 0.952);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        z-index: 100
    }

    .menuOpen {
        max-height: 350px;
    }

    .ButtonCruds {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .ButtonCruds div {
        width: 100%;
    }

    .ButtonCruds button {
        width: 100%;
        text-align: left;
        padding: 15px 25px;
        color: white;
        background-color: transparent;
        display: flex;
        align-items: center;
        transition: background-color 0.2s;
    }

    .ButtonCruds button:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}