.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.068);
}

.boxIcon {
    position: relative;
    background: #ff0000;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(253, 175, 29, 1) 70%, rgba(249, 252, 69, 1) 100%);
    padding: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxIcon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.boxIcon .icon {
    position: absolute;
    bottom: 0px;
    right: -12px;
    color: rgb(0, 0, 0);
}