.containerUser {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    z-index: 3;
    box-shadow: 1px 1px 2px black;
    pointer-events: auto;
    border-radius: 50%;
    background: -webkit-linear-gradient(55deg, #29482a, #4e8950, #9fb97f);
    background: linear-gradient(55deg, #29482a, #4e8950, #9fb97f);
    cursor: pointer;
    position: relative;

}

.btnNavegacion {
    border: none;
    background-color: transparent;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.btnCerrarSesion {
    border: none;
    background-color: red;
    width: 100%;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.opt {
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}