.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
}

.header img {
    z-index: 0;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    filter: brightness(50%);
}

.VolverAtras {
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.Titulo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.locacionTitulo {
    position: absolute;
    bottom: 45px;
    left: 25px;
    color: white;
    font-size: 30px;
}

.Conten {
    width: 100%;
    padding: 25px;
    background-color: white;
    overflow-y: auto;
    height: fit-content;
}

.FormContainer {
    flex-direction: column;
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 30px
}

.formSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formSection label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -10px;
}

.formSection p {
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
}

.labelSeccion {
    font-size: 16px !important;
    color: #555;
    font-weight: 600;
    padding-bottom: 5px;
}

.inputText {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(165, 165, 165);
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.inputOpt {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(165, 165, 165);
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.ContainerinputTelefono:focus-within {
    border: 2px solid rgb(240, 151, 36);
}

.ContainerinputTelefono {
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(165, 165, 165);
    margin-bottom: 10px;
}

.ContainerinputTelefono p {
    margin: 3px;
}

.ContainerinputTelefono input {
    border: none;
    outline: none;
    right: 20px;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.accesibilidadGrupo {
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.accesibilidadGrupo p {
    margin: 0;
    color: #333;
}

.opt {
    display: flex;
    align-items: center;
    gap: 8px;
}

.opt label {
    font-size: 15px;
    color: #555;
}

.acciones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}

.acciones button {
    padding: 15px 20px 15px 20px;
    background: rgb(253, 29, 29);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    color: white;
    border-radius: 5px;
}