.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(67, 67, 67, 0.7), rgba(196, 195, 195, 0.3));
    z-index: 2;
}

.header img {
    z-index: 0;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    filter: brightness(50%);
}

.VolverAtras {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    z-index: 3;
}

.Titulo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 3;
}

.locacionTitulo {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: white;
    z-index: 3;
}

.locacionTitulo h4 {
    font-size: 3rem;
    margin: 0;
}

.locacionTitulo p {
    font-size: 1.7rem;
    margin: 0;
}

.locacionTitulo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: brightness(100%);
}

.Conten {
    width: 100%;
    padding: 25px;
    background-color: white;
    overflow-y: auto;
    height: fit-content;
}

.FormContainer {
    flex-direction: column;
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 30px
}

.formSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formSection label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -10px;
}

.formSection p {
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
}

.labelSeccion {
    font-size: 16px !important;
    color: #555;
    font-weight: 600;
}

.ContainerinputTelefono {
    display: flex;
    align-items: center;
    width: 100%;
}

.ContainerinputTelefono:focus-within {
    border: 2px solid black;
}

.ContainerinputTelefono p {
    margin: 3px;
}

.ContainerinputTelefono input {
    border: none;
    outline: none;
    right: 20px;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.accesibilidadGrupo {
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.accesibilidadGrupo p {
    margin: 0;
    color: #333;
}

.opt {
    display: flex;
    align-items: center;
    gap: 8px;
}

.opt input[type="checkbox"] {
    height: 18px;
    accent-color: #4a6da7;
}

.opt label {
    font-size: 15px;
    color: #555;
}

.ContenHorarios {
    border-radius: 10px;
    padding: 15px;
}

.filaHorario {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.diaNombre {
    font-weight: 350;
    font-size: 16px;
    color: #2c3e50;
    text-transform: capitalize;
    min-width: 100px;
}

.bloqueHorario {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.horarioEtiqueta {
    font-size: 15px;
    font-weight: 400;
    color: #888;
    display: block;
    margin-bottom: 2px;
}

.horarioTexto {
    font-size: 15px;
    color: #333;
    margin: 0;
}

.InfoAdicional {
    border-radius: 10px;
    padding: 15px;
}

.acciones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding-top: 20px;
    cursor: pointer;
}

.acciones button {
    padding: 15px 20px 15px 20px;
    background: rgb(253, 29, 29);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    color: white;
    border-radius: 5px;
}

.btnLink {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .VolverAtras {
        top: 15px;
        left: 15px;
    }
    .Titulo {
        font-size: 1rem;
        font-weight: 100;
        top: 15px;
    }
    .header img {
        height: 35vh;
    }
    .locacionTitulo h4 {
        font-size: 2.1rem;
        text-wrap: wrap;
    }
    .locacionTitulo p {
        font-size: 1.5rem;
    }
    .locacionTitulo img {
        width: 20px;
        height: 20px;
    }
}