.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
}

.botonatras {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  z-index: 3;
}

.titulo {
  font-size: 1.5rem;
  color: #000;
  margin-top: 40px;
  text-align: center;
}

.perfil_icono {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0397fc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 20px 0;
}

.icono_usuario {
  color: white;
  font-size: 60px;
}

.info {
  width: 100%;
}

.campo {
  margin-bottom: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.label {
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

.valor {
  color: #333;
  font-size: 16px;
  margin-top: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.perfil_info {
  width: 100%;
}

.informacion_campos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_botones_perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}



.perfil-info {
  width: 120%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  box-sizing: border-box;
}

.reseñas_usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.reseñas_usuario button {
  background-color: #fff;
  border: solid 2px #0397fc;
  border-radius: 10px;
  width: 110px;
  cursor: pointer;
}

.informacion_campos_de_resena{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.campo {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calificacion_fecha_reseña {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.informacion_campos_de_resena label {
  border-bottom: solid 1px #000; 
}

.texto_reseña {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

.texto_reseña span {
  font-size: 15px;
  font-weight: 300;
  margin: 5px 0 5px 2px;
  padding-top: 5px ;
}

.texto_reseña label {
  font-size: 17px;
  color: #000;
}


.estrella {
  color: #ffcc00;
  font-size: 20px;
  margin-right: 3px;
}

.boton_editar, .boton_desactivar {
  background-color: #fff;
  color: red;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  width: 210px;
  text-align: center;
}


/* Responsive para móviles */
@media (max-width: 600px) {
  .perfil-icono {
    width: 100px;
    height: 100px;
  }

  .icono-usuario {
    font-size: 50px;
  }

  .titulo {
    font-size: 20px;
  }

  .label, .valor {
    font-size: 16px;
  }

  .btn-editar {
    justify-content: center;
  }
}

.sin_resenas {
  text-align: center;
  
  font-size: 20px;
}

