.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
}

.flecha {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  color: #000;
  cursor: pointer;
  z-index: 1000;
  font-size: 20px;
}

.titulo {
  font-size: 1.5rem;
  color: #000;
  margin-top: 40px;
  text-align: center;
}

.perfil_icono {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0397fc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 20px 0;
}

.icono_usuario {
  color: white;
  font-size: 60px;
}

.info {
  width: 100%;
}

.campo {
  margin-bottom: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.label {
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

.valor {
  color: #333;
  font-size: 15px;
  margin-top: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.perfil_info {
  width: 100%;
}

.informacion_campos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_editar {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin-top: 30px;
}

.btn_editar button {
  background-color: #fff;
  color: red;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.perfil-info {
  width: 120%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  box-sizing: border-box;
}




/* Responsive para móviles */
@media (max-width: 600px) {
  .perfil-icono {
    width: 100px;
    height: 100px;
  }

  .icono-usuario {
    font-size: 50px;
  }

  .titulo {
    font-size: 20px;
  }

  .label, .valor {
    font-size: 14px;
  }

  .btn-editar {
    justify-content: center;
  }
}
