.ContenPrin {
    border: 1px solid #ccc;
    background-Color: white;
    padding: 5px;
    align-Items: center;
    border-radius: 10px;
    top: auto;
    bottom: 10px;
    z-index: 1;
    height: 5%;
    transform: translatex(-50%);
    position: fixed;
    transition: width 0.3s ease;
    left: 50%;
    min-height: 45px;
}

.ContenButton {
    display: flex;
    align-Items: center;
    justify-Content: space-between;
    margin: 2px;
    height: 30px;
    width: auto;
    gap: 10;

}

.Button {
    background: transparent;
    padding: 20px;
    outline: none;
    border: none;
    margin: 10px;
}

.ButtonMicro {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: -webkit-linear-gradient(55deg, #29482a, #4e8950, #9fb97f);
    background: linear-gradient(55deg, #29482a, #4e8950, #9fb97f);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-Index: 4;
    cursor: pointer;
    border: 1px solid #9fb97f;
}

.PanelInfo {
    position: absolute;
    margin-top: 8px;
    bottom: 80%;
    width: 100%;
    left: 0px;
    background-color: white;
    overflow: hidden;
    height: 450px !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.ContenPrin.darkMode {
    background-color: #2d2d2d;
    color: white;
}

.PanelInfo.darkMode {
    background-color: #2d2d2d;
    color: white;
}

.Button {
    /* tus estilos existentes */
    transition: all 0.3s ease;
}