.titulo {
    width: 100%;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acciones {
    margin: 25px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acciones button {
    padding: 15px 20px 15px 20px;
    background: rgb(253, 29, 29);
    background: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(255, 106, 60, 1) 100%);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s all;
}

.acciones button:hover {
    transform: scale(101%);
}

.opt {
    display: flex;
    gap: 10px;
}

.inputText {
    border-radius: 5px;
    border: 1px solid rgb(165, 165, 165);
    margin-bottom: 10px;
    padding: 5px;
}

.labelSeccion {
    font-weight: 400;
    margin-top: 10px;
    padding-bottom: 5px;
}

.inpSelect {
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(165, 165, 165);
    padding: 5px;
}